/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Montserrat', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button{
    cursor: pointer;
}

            /* IMPORT FONT STYLE MONTSERRAT */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&display=swap');


.header_container{
    margin: auto;
    /* border: 1px solid red; */
    width: 80%;
    height: 3em;
    /* Flex css */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* Background */
    background-color: rgba(172, 172, 172, 0.411);
}

.header_container_div{
    /* border: 1px solid red; */
    margin: 0 0 0 1em;
    width: 50%;
    /* Flex css */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.header_container_div__img{
    width: 28px;
}

.header_container_div__title{
    /* border: 1px solid blue; */
    margin: 0 2em 0 1em;
}

.header_container_div__currentPage{
    /* margin: 0 20px; */

    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
}
.header_container_div__currentPage > p{
    margin: 0 0.5em;
    font-weight: 700;
    color: rgb(100, 100, 100);
}
.current{
    color: black;
}

.header_container_logout__btn{
    margin: 0 1em 0;
    color: blue;
    /* reset btn */
    background: none;
    border: none;
}